@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Ubuntu:wght@400;700&display=swap');


body{
    margin: 0;
    
}

header{
    
    background-color: #2E948A;
    
}  
.cabeçalho{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    font-family: "Ubuntu";

}


.logo{
    align-items: left;
    padding: 16px;
    
}

.titulo_site{
    color: white;
    font-style: normal;
    font-size: 40px;    
    margin-right: 700px;
    font-weight: lighter;
    margin-left: 10px;
    text-decoration: none;
}

.menu {
    margin: 0;
    padding: 0;
    text-align: end;
    
}
.menu-item {
    display: inline;
}

.menu-item-link {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    margin: 10px 30px;
    text-transform: uppercase;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}
.main_1{
    display: flex;
    align-items: center;
    font-family: "Ubuntu";
}

.texto_main1{
    margin: 125px 39px 200px 206px;
}
.main_1 h1{
    color: #FF4081;
    text-align: justify;
    font-size: 60px;
    
}

.main_1 p{
    font-size: 26px;
    color: #555555;
    margin-top: 19px;
    margin-bottom: 45px;
}

.buttom_main1{
    border: 2px solid #FF4081;
    box-sizing: border-box;
    border-radius: 62px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 31px;
    color: #FF4081;
    padding: 10px;
}

.imagem_main1 {
    align-items: left;
    margin-left: 40px;
}

.main_2{
    background-color: #F7F7F7;
    font-family: "Ubuntu";
}

.img_size{
    width: 288px; 
    height: 270px;
}

.main_2 h2{
    color: #FF4081;
    font-size: 20px;
   
}

.main_2 p{
    text-align: center;
    font-size: 15px;
    margin-bottom: 40px;
}
.card_position{
    max-width: 80%;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;  
    justify-content: space-between;
    align-items: center;
}

.card{
    max-width: 24%;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.buttom_main2{
    border: 2px solid #FF4081;
    border-radius: 62px;
    background-color: #FF4081;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
}

.titulo_icons{
    color: #009688;
    text-transform: uppercase;
    font-size: 37px;
    font-weight: bold;
    margin-top: 119px;
    margin-left: 118px;
    font-family: "Nunito";
}

.icon_costomization {
    border: 3px solid #FF4081;
    box-sizing: border-box;
    border-radius: 50px;
    padding: 0 auto;
    margin-right: 30px;
}
.main_3{
    max-width: 90%;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;  
    justify-content: space-between;
    align-items: center;
    font-family: "Nunito";
}

.main_3 p {
    font-size: 18px;

    box-sizing: border-box;

}

.icons_main3 {
    display: flex;
    max-width: 50%;
    display: flex;
    gap: 20px;
}


.pessoa_icon{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
   
}

.icons_main3{
    padding: 20px;
    box-sizing: border-box;
}


.main_4 {
    margin-top: 165px;
    font-family: "Ubuntu";
    background-color: #E5E5E5;
    
}

.titulo_main4{
    text-transform: uppercase;
    color: #009688;
    font-size: 37px;
    line-height: 43px;
    margin-left: 128px;
    margin-top: 91px;
    box-sizing: border-box;
    padding-top: 91px;
}

.card_main4{
    max-width: 80%;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;  
    justify-content: space-between;
    align-items: center;
}
.cards_4{
    max-width: 24%;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: left;
    align-items: center;
}

.cards_4 h1{
    font-size: 27px;
    color: #009688;
    margin-bottom: 0;
}

.buttom_main4{
    
    border: 2px solid #FF4081;
    border-radius: 62px;
    color: #FF4081;
    padding: 10px;
    box-sizing: border-box;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    
}

.buttom_position4{
    align-items: center;
    display: flex;
    text-align: center;
    margin-left: 623px;
    margin-right: 610px;
    padding-bottom: 50px;
    
}

footer{
    background-color: #2E948A;
    
}
.logo-footer{
    width: 100px;
}

#footer{
    max-width: 1440px;
    font-family: "Ubuntu";
    display: flex;
    align-items: center;
    margin: 0 auto;
    
}


#footer h2{
    color: white;
    font-size: 50px;
    font-weight: lighter;
    margin-right: 250px;
}



.links-footer{
    margin: 0;
    padding: 0;
    margin-right: 500px;
    font-size: 20px;
    gap: 10px;
}

.links-itens{
    list-style: none;
}

.links-itens-custom{
    color: white;
    text-decoration: none;

}

.buttom-footer{
    color: white;
    border: 3px solid white;
    border-radius: 50px;
    box-sizing: border-box;
    padding: 10px;
    float: right;

}
.buttom-footer-custom{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.logo-footer{
    margin-left: 138px;
}

#contato{
    font-family: "Ubuntu";
}

#form-contatos{
    display: flex;
    justify-content: left;
    gap: 200px;
    width: 90%;
    margin: 40px auto;
    
 }

 #form-contatos form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
    padding: 20px;
  }

#form-contatos form *{
    margin: 15px 0;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  font-family: "Nunito";
}

input,
textarea{
  border: 1px solid #686868;
  border-radius: 7px;
}

#form-contatos h2{
    color: #FF4081;
    font-size: 40px;
    font-style: bold;
}

.form-buttom{
    background-color: #FF4081;
    border-radius: 50px;
    color: white;
    font-family: "Nunito";
    box-sizing: border-box;
    padding: 10px 25px;
    box-shadow: none;
}

textarea{
    height: 200px;
}

.form-lateral{
    background-image: url('images_dindin/ilustra-contato.png');
    background-repeat: no-repeat;
    width: 60%;
}

.blog_1{
    display: flex;
    align-items: center;
    font-family: "Ubuntu";
}

.texto_blog{
    margin: 122px 74px 190px 150px;
}

.texto_blog h1{
    color:#009688;
    Font-style: Bold;
    Font-size: 47px;
    text-align: left;
}

.texto_blog p{
    color: black;
    text-align: left;
    vertical-align: center;
    font-size: 20px;
    max-width: 70%;
}

.blog_2{
    background-color: #E5E5E5;
    font-family: "Ubuntu";
}

.card-blog{
    max-width: 95%;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;  
    justify-content: space-between;
    align-items: center;
    gap: 20px   ;
}

.card-blog-item{
    max-width: 46%;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: justify;
}
.card-blog-item h2{
    font-size: 30px;
    color: #FF4081;
}

.card-blog-item p{
    font-size: 20px;
    text-align: left;
}
.img-card-blog{
    width:518px;
}
#cursos{
    font-family: "Ubuntu";
}

#cursos h1{
    color: #FF4081;
    font-size:60px;
    font-weight: bold;
    margin: 0;
    margin-top: 81px;
}

#cursos p {
    font-size: 20px;
    color: #555555;
    margin: 0;
}
.curso_investimento {
    display: flex;
    align-items: center;
    gap: 54px;
    margin-top: 95px;
}
.curso_investimento img {
    max-width: 30%;
}

.texto_investimentos{
    max-width: 60%;
    vertical-align: top;
    text-align: left;
    margin-bottom: 155px;
    
}

.texto_investimentos h2{
    color: #FF4081;
    font-weight: bold;
    font-size: 35px;
    line-height: 40px;
}

.texto_investimentos p{
    font-weight: lighter;
    color: black;
    font-size: 18px;
   
}

.buttom_investimento{
    border-radius: 62px;
    background-color: #419488;
    color: white;
    box-sizing: border-box;
    padding: 14px 40px;
    font-size: 20px;
    margin-top: 54px;
    display: inline-block;
}

.linha_cursos{
    margin-top: 68px;
    margin-bottom: 107px;
}

.curso_poupando{
    display: flex;
    align-items: center;
    gap: 54px;
}

.curso_poupando img{
    max-width: 30%;
}

.texto_poupando{
    max-width: 60%;
    vertical-align: top;
    text-align: left;
    margin-bottom: 155px;
    
}

.texto_poupando h2{
    color: #FF4081;
    font-weight: bold;
    font-size: 35px;
    line-height: 40px;
}


.texto_poupando p{
    font-weight: lighter;
    color: black;
    font-size: 18px;
   
}

.texto_poupando buttom{
    border-radius: 62px;
    background-color: #419488;
    color: white;
    box-sizing: border-box;
    padding: 14px 40px;
    font-size: 20px;
    margin-top: 54px;
    display: inline-block;
}

.linha_cursos2{
    margin-top: 93px;
    margin-bottom: 93px;
}

.curso_financeiro{
    display: flex;
    align-items: center;
    gap: 54px;
}

.curso_financeiro img{
    max-width: 30%;
    margin-bottom: 202px;
}

.texto_financeiro{
    max-width: 60%;
    vertical-align: top;
    text-align: left;
    margin-bottom: 155px;
    
}

.texto_financeiro h2{
    color: #FF4081;
    font-weight: bold;
    font-size: 35px;
    line-height: 40px;
}


.texto_financeiro p{
    font-weight: lighter;
    color: black;
    font-size: 18px;
   
}

.texto_financeiro buttom{
    border-radius: 62px;
    background-color: #419488;
    color: white;
    box-sizing: border-box;
    padding: 14px 40px;
    font-size: 20px;
    margin-top: 54px;
    display: inline-block;
}

#curso_investimentos{
    font-family: "Ubuntu";
}
.investimento_inicio{
    display: flex;
    align-items: center;
    gap: 100px;
    max-width: 80%;
    margin: 0 auto;
}
.texto-investimento-inicio{
    max-width: 40%;
    text-align: left;
}
.texto-investimento-inicio h1{
    color:#FF4081;
    font-size: 55px;
    font-weight: bold;
    margin-top: 93px;
}

.texto-investimento-inicio p{
    font-size: 20px;
    margin-bottom: 115px;
}
.investimento-conteudo{
    background-color: #F6F6F6;
    margin: 0;
    padding: 0;
    
}

.inv-conteudo-config{
    display: flex;
    align-items: center;
    
    gap: 80px;
}

.inv-conteudo-config iframe{
    max-width: 50%;
    margin-top: 75px;
    margin-left: 180px;
}

.conteudo-investimento-texto{
    max-width: 40%;
    text-align: left;
}
.conteudo-investimento-texto h2{
    color:#FF4081;
    font-size: 35px;
    font-weight: bold;
}

.conteudo-investimento-texto p{
    font-size: 20px;
}

.linha_investimento{
    margin-top: 73px;
    
}

.inv-conteudo-config3{
    display: flex;
    align-items: center;
    gap: 80px;
    padding-bottom: 75px;
}

.inv-conteudo-config3 iframe{
    max-width: 50%;
    margin-top: 75px;
    margin-left: 180px;
}

.linha_investimento{
    align-items: center;
    max-width: 100%;
}
#post{
    font-family: "Ubuntu";
    align-items: center;
    text-align: center ;
}

.post-titulo{
    
    margin: 0;
    padding: 0;
}

.post-titulo h1{
    color: #FF4081;
    font-size: 50px;
    margin-top: 111px;
    margin-bottom: 0;
}

.post-titulo p{
    margin: 0;
    font-size: 18px;
    font-weight: lighter;
    color: #9D9D9D;
    margin-bottom: 74px;
}

.artigo-post{
    text-align: left;
    font-size: 20px;
    max-width: 72%;
    margin: 0 auto;
    line-height: 26px;
    margin-top: 64px;
    font-weight: 300;
}

.artigo-post1{
    margin-bottom: 30px;
}

.artigo-post2{
    margin-bottom: 30px;
}

.artigo-post3{
    margin-bottom: 100px;
}

.title-article{
    color:#2E948A;
    font-size: 26px;
    text-align: left;
    max-width: 72%;
    margin: 0 auto;
    font-weight: 500;
    margin-bottom: 40px;
}

.artigo-post-second{
    text-align: left;
    font-size: 20px;
    max-width: 72%;
    margin: 0 auto;
    line-height: 26px;
    margin-top: 64px;
    font-weight: 300;
    margin-top: 0;
}

.artigo-post-second2{
    margin-top: 40px;
    margin-bottom: 100px;
}

.article-post-third{
    text-align: left;
    font-size: 20px;
    max-width: 72%;
    margin: 0 auto;
    line-height: 26px;
    margin-top: 64px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 200px;
}

.conheca-curso{
    background-color: #F6F6F6;
    padding-top: 30px;
}

.conheca-curso h1{
    font-size: 50px;
    color:#FF4081;
    font-weight: lighter;
}

.buttom-investimento-post{
    color: white;
    border-radius: 62px;
    background-color: #FF4081;
    padding: 14px 30px;
}

@media (max-width: 500px){
    html{
        font-size: 30px;

    }
    
    header{
        align-items: center;
        text-align: center;
        background-size: cover;
    }
    css{
        max-width: 500px;
    }
    .menu{
        text-align: center;
    }
    .logo{
        margin-right: 0;
        padding: 10px;
    }
    .titulo_site{
        margin-right: 20px;
        margin-left: 0;
    }
    .menu-item-link{
        font-size: 15px;
        line-height: -10px;
        margin: 0;
    }
    .menu-item{
        display: block;
    }
    .main_1 img{
        display: none;
    } 
    .main_1 p{
        font-size: 25px;
    }
    main{
        margin: 0;
        padding: 0;
        text-align: left;
        align-items: left;
    }   
    footer{
        text-align: left;
        align-items: left;
        margin-left: 0;
        padding: 0;
    }

    .texto_main1{
        align-items: center;
        text-align: center;
        margin: 0 auto;
    }
    .texto_main1 h1{
        font-size: 42px;
        text-align: center;
        align-items: center;
    }
    .card_position{
        margin: 0 auto;
        align-items: center;
    }
    .card{
        max-width: 100%;
        
    }
    .titulo_icons{
        font-size: 30px;
        margin-left: 0px;
        text-align: left;
        margin-bottom: 0;
        margin-top: 20px;
    }
    .main_3{
        max-width: 100%;
        display: flex;
        align-items: left;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .icons_main3{
        display: block;
        max-width: 100%;
        padding: 10px;
        
    }
    .icon_costomization{
        padding: 10px;
        border-radius: 300px;
        margin-top: 10px;
        
    }
    .main_4{
        margin-top: 30px;
    }

    .titulo_main4{
        font-size: 30px;
        margin-left: 10px;
        text-align: center;
    }
    .card_main4{
        max-width: 100%;
    }
    .cards_4{
        max-width: 100%;
        text-align: center;
    }
    .cards_4 img{
        max-width: 90%;
    }

    .cards_4 p{
        font-size: 25px;
    }
    #footer{
        align-items: center;
        margin: 0 0;
        display: flex;
        flex-wrap: wrap;
    }
    #footer h2{
        margin-right: 0;
        margin-bottom: 10px;
        padding-bottom: 10px;
        font-size: 40px;
        vertical-align:top;
    }
    .logo-footer{
        margin-left: 50px;
        margin-right: 10px;
        width: 70px;
        align-items: center;
        
    }

    .link-footer-nav{
        align-items: center;
        text-align: center;
        display: flex;
        margin: 0 auto;
    }
    .buttom-footer{
        padding: 5px;
        flex-direction: none;
        font-size: 10px;
        display: inline-block;

    }
    .buttom-footer-custom{
        display: inline-block;
        
        align-items: center;
        margin: 0 auto;
    }
    .links-footer{
        margin-right: 10px;
    }
    .blog_1 img{
        display: none;
    }
    .texto_blog{
        margin: 0;
        
    }
    .texto_blog p{
        max-width: 98%;
        text-align: center;
    }
    .texto_blog h1{
        text-align: center;
    }
    .car-blog{
        max-width: 100%;

    }
    .card-blog-item{
        max-width: 100%;
        padding-bottom: 30px;
    }
    .img-card-blog{
        width: 300px;
    }
    .card-blog-item h2{
        text-align: center;
    }
    .card-blog-item p{
        text-align: center;
    }
    #cursos{
        margin: 0;
    }
    #cursos h1{
        font-size: 40px;
        text-align: center;
    }
    #cursos p{
        font-size: 15px;
        text-align: center;
    }
    .curso_investimento img{
        display: none;
    }
    .texto_investimentos{
        max-width: 100%;
        text-align: center;
        margin-bottom: 40px
    }
    .curso_poupando img{
        display: none;
    }
    .texto_poupando{
        max-width: 100%;
        text-align: center;
        margin-bottom: 40px;
    }
    .curso_financeiro img{
        display: none;
    }
    .texto_financeiro{
        max-width: 100%;
        text-align: center;
    }
    .investimento_inicio{
        max-width: 100%;

    }
    .texto-investimento-inicio{
        max-width: 100%;
        text-align: center;
        margin-left: 4px;
        margin-right: 4px;
    }
    .texto-investimento-inicio h1{
        font-size: 40px;
    }
    .investimento_inicio img{
        display: none;
    }
    .inv-conteudo-config{
        display: block;
    }
    .inv-conteudo-config iframe{
        max-width: 300px;
        margin-top: 30px;
        margin-left: 10px;
        display: block;
        
    }
    .conteudo-investimento-texto{
        max-width: 100%;
        text-align: center;
    }
    .conteudo-investimento-texto p{
        margin-left: 4px;
        margin-right: 4px;
    }
    .inv-conteudo-config3{
        display: block;
    }
    .inv-conteudo-config3 iframe{
        max-width: 300px;
        margin-top: 30px;
        margin-left: 10px;
        display: block;
    }
    .conteudo-investimento-texto{
        max-width: 100%;
        text-align: center;
    }
    .buttom_position4{
        align-items: center;
        margin: 0 auto;
        margin-left: 65px;
    }
    
}   
